  @charset "UTF-8";
  /*css 初始化 */
  html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
      margin: 0;
      padding: 0;
  }

  fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
      border: none;
      padding: 0;
      margin: 0;
      outline-style: none;
  }

ul, ol {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {				
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1181px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*公用头*/
  .head {
      width:99.88%;
      height: 50px;
      background: #F6F6F6;
      border: 1px solid #ccc;
  }
 .head-one .head-one-left .logo {
     width: 90px;
     height: 31px;
     margin: 11px 0 0 31px;
 }
  .head-one .head-one-left .logo a{
      width: 90px;
      height: 31px;
      display: block;
      background: url("../images/jingl.fw.png")no-repeat 0 -10px;
      text-indent:-999px;
  }

  .head-one .head-one-right ul li {
      float: left;
      line-height:50px;
      margin-right: 42px;
  }
  .head-one .head-one-right ul li:nth-child(2){
      margin-right: 36px;
  }
  .head-one .head-one-right ul li:nth-child(3){
      margin-right: 0;
  }
  .head-one .head-one-right ul li:nth-child(3) a:hover{
      text-decoration: underline;
  }
  .head-one .head-one-right ul li a:hover {
      color: #FA7600;
  }


  /*顶部详情部分*/
  .footer-top .footer-top-one  {
      width: 725px;

      margin: 0 auto;

  }


  .footer-er{
      /*width: 100%;*/
      height: 175px;
      margin-top: 110px;
  }
  .footer-top .footer-top-one ul li{
      float: left;
      margin-right: 21px;
      font-size: 12px;
  }
  .footer-top .footer-top-one ul li:nth-child(8){
      margin-right: 0;
  }

  .footer-top .footer-top-two {
      width: 357px;
      height: 18px;
      margin:15px 0  0 412px;
  }
  .footer-top .footer-top-two ul li {
      float: left;
      margin-left: 17px;
  }

  .footer-top .footer-top-two ul li a {
      padding-right: 18px;
      border-right: 2px solid #4E4E4E;
      font-size: 12px;
  }
  .footer-top .footer-top-two ul li:nth-child(4) a {
      padding-right: 0;
      border-right: 0;
  }
  .footer-top .footer-top-bottom {
      text-align: center;
      margin-top: 13px;
  }
  .footer-top .footer-top-bottom p:nth-child(2){
      display: block;
      margin-top: 13px;
  }




